<div class="container" align="center">
  <h1>Congratulations!<br>You just booked an amazing meal!</h1>
  <div>
    <h2><%=@booking.meal.title%></h2>
      <ul>
        <li>Meal: <%=@booking.meal.meal_type%></li>
        <li>ID: <%=@booking.meal.id%></li>
        <li>Date: <%=@booking.meal.date%></li>
        <li>Time: <%=@booking.meal.time%></li>
        <li>Conversation topic: <%=@booking.meal.topic%></li>
        <li>Seats: <%=@booking.meal.seats%></li>
      </ul>
  </div>
</div>
