<div class="booking-container" align="center">
  <div class="card-trip">
    <img src="https://i.ibb.co/L93QRNJ/chris-lawton-165884-unsplash.jpg">
    <div class="card-trip-infos">
      <div class="card-trip-text">
        <h1><%=@booking.meal.title%></h2>
        <h2>Description: <%=@booking.meal.topic%></h2>
        <h2>Seats: <%=@booking.meal.seats%></h2>
        <h2>Time: <%=@booking.meal.time.strftime("%A, %d %b at %l:%M %p")%></p>
        <h2>Address: <%=@booking.meal.city%>, <%=@booking.meal.address%>, <%=@booking.meal.post_code%></h2>
      </div>
      <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
      <div class="card-trip-meal-type">
        <h2><%=@booking.meal.meal_type%></p>
      </div>
      <br>
    </div>
      <div class="card-trip-buttons" justify-content="right">
        <div class="btn btn-delete">
          <%=link_to 'Delete booking', booking_path(@booking), :class => "btn", method: :delete, data: { confirm: "Are you sure?" }%>
        </div>
      </div>
  </div>
</div>


