<div class='container'>
<h1><%=@meal.title%></h1>
<ul>
  <li>Meal: <%=@meal.meal_type%></li>
  <li>ID: <%=@meal.id%></li>
  <li>Date: <%=@meal.date%></li>
  <li>Time: <%=@meal.time%></li>
  <li>Conversation topic: <%=@meal.topic%></li>
  <li>Seats: <%=@meal.seats%></li>
  <% @meal.bookings.each do |b| %>
    <!-- <%= b.seats %> -->
  <% end %>
</ul>


<%= link_to 'Book this meal', new_meal_booking_path(@meal) %>

<br>
<br>

<%=link_to 'Delete meal', meal_path(@meal), method: :delete, data: { confirm: "Are you sure?" }%>

</div>
