<<<<<<< HEAD
<h1><%=@meal.meal_type%></h1>
=======
<h1><%=@meal.title%></h1>
>>>>>>> master
<ul>
  <li>ID: <%=@meal.id%></li>
  <li>Date: <%=@meal.date%></li>
  <li>Time: <%=@meal.time%></li>
  <li>Conversation topic: <%=@meal.topic%></li>
  <li>Seats: <%=@meal.seats%></li>
</ul>


<%=link_to 'destroy', meal_path(@meal), method: :delete, data: { confirm: "Are you sure?" }%>
